{% extends "guest/base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block main %}
	<div id="bgImg">
	</div>
	<main>

		<section>
			<div>
				<h1>Bienvenue sur Saveurs Collectives</h1>
				<p>Un lieu où la cuisine devient un langage universel.</p>
				<p>Ici, chacun peut partager ses recettes, découvrir celles des autres, et tisser des liens autour de plats faits avec amour.</p>
				<p>Que vous soyez chef passionné ou cuisinier du dimanche, votre savoir-faire a sa place à notre table.</p>
			</div>
		</section>

		<div class="section-wrapper">
			{% for item in categoriesWithRecipes %}
				<section>
					<h2>{{item.category.title}}</h2>
					<div>
						{% for recipe in item.recipes %}
							<div>
								<a href="{{path('detail-recipe', {'id':recipe.id })}}">
									{% if recipe.image %}
										<div class="imgRecipe">
											<img src="{{asset('uploads/recipes/' ~ recipe.image)}}" alt="{{recipe.title}}">

										</div>
									{% else %}
										<div class="imgRecipe">
											<img src="{{asset('assets/images/logo.png')}}" alt="image par défaut">

										</div>
									{% endif %}

									<p>{{recipe.title}}</p>
								</a>
							</div>
						{% endfor %}
					</div>
				</section>

			{% endfor %}
		</div>
	</main>
{% endblock %}
