<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{asset('assets/css/main.css')}}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap" rel="stylesheet">

		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header>
		
			
			{% if app.user %}
			<p>	Administrateur :
				{{app.user.pseudo}}
			</p>
			{% endif %}
			
			<div class="nav-links">
				<a href="{{path('admin-home')}}">Accueil Admin</a>
				<a href="{{path('admin-display-users')}}">Liste des utilisateurs</a>
				<a href="{{path('admin-display-recipes')}}">Liste des recettes</a>
				<a href="{{path('admin-display-comments')}}">Liste des commentaires</a>
				<a href="{{path('admin-category-new')}}">Ajouter une catégorie</a>

			</div>

			<div class="auth-button">
				<a href="{{path('logout')}}">Se déconnecter</a>
				<a href=""></a>
			</div>
		</header>

		{% block main %}{% endblock %}

		{% include "admin/partials/_footer.html.twig" %}

		{% block javascript %}

			 <script src="{{asset('assets/js/index.js')}}"></script>
		{% endblock %}

	</body>

</html>
