{% extends "admin/base.html.twig" %}

{% block title %}Profil de
	{{user.pseudo}}
{% endblock %}
{% block main %}

	<main>
		<h2>Profil de
			{{ user.pseudo }}
		</h2>
	<div class="profile-container">
		<div class="profileImage">
			<img src="{{ asset('uploads/users/' ~ user.image) }}" alt="Image de profil">
		</div>

		<ul>
			<li>Email :
				{{ user.email }}</li>
			<li>Rôles :
				{% for role in user.roles %}
					<span>{{ role }}</span>
				{% endfor %}
			</li>
			<li>Inscrit le :
				{{ user.createdAt|date('d/m/Y') }}</li>
		</ul>
	</div>

	<a href="{{ path('admin-display-users') }}">⬅ Retour à la liste des utilisateurs</a>
	<a href="{{ path('admin-display-recipes') }}">⬅ Retour à la liste des recettes</a>

	</main>

{% endblock %}

